body {
    background-color: #202225;
}

.bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #202225;
    width: 100%;
    color: #72767D;
    font-weight: bolder;
    padding: 1px 0;
}

.bar p {
    top: 0;
    font-size: small;
    margin: 0 0 0 0;
    padding-left: 10px;
}

.servers {
    position: fixed;
    padding-left: 10px;
    margin-top: 18px;
    left: 0;
    background-color: #202225;
    width: 48px;
    height: 100%;
}

.servers .server {
    margin-bottom: 10px;
}

.servers .server img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.servers .server img:hover {
    border-radius: 35%;
}

.servers .server .basic {
    background-color: #5865F2;
    line-height: 48px;
    text-align: center;
    border-radius: 100%;
}

.servers .server .basic img {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

hr {
    height: 2px;
    width: 25px;
    border-width: 0;
    background-color: #2D2F32;
}

.channels {
    position: fixed;
    margin-left: 60px;
    margin-top: 12px;
    background-color: #2F3136;
    height: 97%;
    width: 250px;
    border-radius: 10px 0px 0px 0px;
}

.channel {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 900;
    color: #A9AAAB;
}

.group {
    margin-left: 15px;
    margin-top: 8px;
    color: #A9AAAB;
    font-size: 12px;
}

.margin {
    margin-top: 80px;
}

:is(.channels, .chats) .top {
    position: fixed;
    background-color: #2F3136;
    height: 50px;
    box-shadow: 1px 1px 5px #202225;
    padding-left: 10px;
}

.channels .top {
    width: 250px;
    border-radius: 10px 0px 0px 0px;
}

.chats .top {
    width: calc(50% - 10px);
    border-radius: 0px 0px 0px 0px;
}

:is(.chats, .channels) .top p {
    color: #ffffff;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bolder;
}

.chats {
    position: fixed;
    color: #ffffff;
    margin-top: 12px;
    margin-left: 310px;
    background-color: #36393F;
    height: 100%;
    width: 50%;
    border-radius: 0px 10px 0px 0px;
}

.chat {
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-template-rows: auto;
    gap: 10px;
    align-i: start;
}

.profile {
    grid-column: 1;
}

.content {
    grid-column: 2;
}

.profile img {
    border-radius: 100%;
    height: 40px;
}

.content p {

}

/* .users {
    background-color: #2F3136;
    height: 97%;
    width: 250px;
    border-radius: 10px;
} */